/* Media Query for medium + screens */
/*@media only screen and ( min-width: 40em) 
{
  li:first-child { display: none;	}
  li { display: inline-block; margin-right: 1rem;}	
  li a { color:#0A0A0A;}
}*/

/* medium and up views */
@media (min-width: 40em) {

	.navigation a:first-child
    {
        display: none;
    }
    .navigation a
      {
          display: inline-block;

	  }
	  
	  .forecast{
		display:block; 
		background: #FAFAFA;
		margin:0 10% 0 10%;
		width: 80%;
		text-align: center;
		  }
	
	.forecast table{
		width: 100%;
	}

	.sumary h3{
		font-size:0.8em;
		margin:auto;
	}
	.sumary table{
		font-size:0.8em;
	}

		 
	.information{
		display:block; 
		background: #898989; 
		padding: 1em 3.5em;
	}
		
	.post img{
		float: right;
		width:50%; 
		margin:1em;
	}

	.contact a img{
		float: left;
		width:40%;
		margin:2em; 
	}
		header nav {
		width: 100%;
		margin: 0 auto;	
		max-width: 100%; 
		background-color: #898989;
		display:flex;
		flex-direction: row;
		justify-content:center;
	}

	nav { display: block; flex: 1 1 auto; }
	h1,h2{ 
		font-size: 2rem;}
	
	h3,h4,h6{
		font-size: 1.5rem;
		text-align: Center;	
	}
	main {
		width:90%;
		max-width:900px;
	}
	
		body,p{
		
			font-size: 1.3rem;
			color:#335980;
		}
	
		table {
		  font-size: 1em;
		}
		
		th, td {
			padding:5px 10px;
		}

		

.container_home {
	width:100%;
	max-width: 1000px;
	height: 600px;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;

	/*flex-flow:row wrap;*/
	justify-content:space-between;
	/*align-items:center;*/
	align-content:center;
}

.container_home .town {
	width: 28%;
	text-align: center;
	margin: 20px;
	padding: 20px;
	font-size: 1em;
	order:1;
	flex:1 1 auto;
}

.town img{
width:100%;
}

.container_town section{grid-template-columns: 1fr;}
}