@import url('https://fonts.googleapis.com/css?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
/*font-family: 'Open Sans', sans-serif;*/


* { padding: 0; box-sizing: border-box; } 

body {
     background-color: #FAFAFA;
    background-size:cover;
}

body,p,table {
  font-family: 'Roboto', sans-serif;
}

.container {
	margin: auto;
	width: 90%;
	max-width: 1000px;
	display: flex;
	flex-direction:row;
  flex-wrap:wrap;
  justify-content: center;

}
/* CSS Header*/
header {
	width: 100%;
	padding: 10px 0 0 0;
  background-color: #4FD0FC;
	border: 1px solid #bbb;
	box-shadow: 0 0 30px #777;
  text-align: center;

}

header .headings{
  margin: auto;
	width: 100%;
  display: flex;
	flex-direction:row;
	justify-content:center;
	flex-direction:row;
	flex-wrap:wrap;
}

header nav {
  width: 100%;
  margin: 0 auto;	
  max-width: 100%; 
  background-color: #898989;
  display:flex;
  flex-direction: column;
  /*padding: 10px;*/
}
.logo{width:100px}

.navigation a:first-child
    {
        display: inline-block;
    }
.navigation a
    {
        display: none;
    }

.responsive a
    {
        display:inline-block;;
    }

header nav a {
  color: #fff;
	text-decoration: none;
  font-size: 1em;
  font-family: 'Philosopher', sans-serif;
  padding: 10px;
}
header nav a:hover {
  color: #0A0A0A; 
  background-color: #fff; 
  font-weight: 700;
    padding: 10px;
  }

header nav .active {
background-color: #335980;
}

main {
  width:100%;
  max-width:500px;
  background: #FAFAFA;
  align-self: auto;
  padding: 1em;
  margin:1em;
}

.container2 {
	width: 100%;
  position: relative;
	
}

.image img{
  position: relative;
  width:100%;
}

.sumary { 
  background:rgba(79,208,252, 0.6);
  padding:0.7em;
  position: absolute;
  top:1em;
  left:1em;
  box-shadow: 0 0 20px #F2F2F2;
}

/* CSS TABLE*/
table, td, th{
	border: 1px solid rgba(0,0,0, .2);
}

table {
	border-collapse: collapse;
  text-align: center;
  font-size: 0.7em;
  color:#000;
}

th, td {
	padding:2px 5px;
}

th {
	background: #335980;
	color: #fff;
}

/*CSS Forecast*/

.forecast, .information{
 display:none; 

}



.post, .information, .contact {
	width: 100%;
	background: #4FD0FC;
  margin: 1em auto;
  padding:1.5em;
	
}


.contact a img, .post img{
  float: right;
  width:100%; 
}


 footer {
  margin: 1.25rem auto;
  padding: 2rem;
  width: 100%;
  max-width: 1000px;
  text-align:center;
  align-self:center;
  background:#335980;
  color:#FAFAFA;
}

h1,h2{ 
    font-family: 'Philosopher', sans-serif;
    font-size: 1.5rem;
    color:#335980;
    text-align: center;}

h3,h4,h6{
    font-family: 'Philosopher', sans-serif;
    font-size: 1rem;
    text-align: left;
    color:#335980;
    border-bottom: 2px solid #bbb;
}



  /* css gallery*/
  .container-gallery {
    margin: 1rem auto; 
    display:grid; 
    grid-template-columns: 1fr 1fr; 
    max-width: 1100px;
  }

  .container-gallery img {
     width: 350px; 
     height: auto; 
    /* margin: 10px 5rem;*/
    }

  figcaption {
    font-size: smaller;
    text-align:center;}
 
  /* hover effect */
  .gallery:hover {
    box-shadow: 0 0 50px #333;
  }
  /* css home*/

  .container_home {
    width:100%;
    max-width: 900px;
    height: 500px;
    height: auto;
    background: #335980;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-content:center;
  }

  
.container_home .town {
	width: 100%;

  background:#4FD0FC;
	text-align: center;
	margin: 1em;
	padding: 1em;
	font-size: 1em;
	flex:1 1 auto;
}
.town img{
width:100%;
}

.container_town section{grid-template-columns: 1fr;}
